@mixin input-size($size, $line, $py, $px) {
    input { font-size: $size; line-height: $line; padding: $py $px; }
    .input-icon { top: $py; }
    .material-icons { font-size: ($line + 4px); }
    .start { left: $px; & ~ input { padding-left: 4*$px; } }
    .end { right: $px; & ~ input { padding-right: 4*$px; } }
}

.input-wrapper {
    /* Adjust width to 100% */
    &.expanded {
        width: 100%;
        .field-wrapper {
            width: 100%;
            input {
                width: 100%;
            }
        }
    }
    /* layout */
    display: flex;
    flex-direction: column;
    gap: 4px;
    
    .field-wrapper {
        position: relative;
    }

    /* Default values */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
    &.sm { @include input-size(10px, 16px, 12px, 8px) }
    &.md { @include input-size(14px, 20px, 16px, 12px) }
    &.lg { @include input-size(18px, 24px, 20px, 16px) }

    input {
        display: inline;
        min-width: 200px;
        width: min-content;
        height: min-content;
        border-radius: 8px;
        padding: 16px 12px;
        font-size: inherit;
        line-height: inherit;
        font-weight: 500;
        color: #828282;
        border: 1px solid #828282;
        &:hover, &:focus, &:focus-visible {
            outline: none;
            border: 1px solid #333333;
        }
    }
    label {
        display: block;
        line-height: 17px;
        font-size: 12px;
    }

    .helper-text {
        font-size: 12px;
        color: #828282;
    }
    
    /* Invalid state */
    &.invalid {
        color: rgb(var(--color-danger));
        input {
            border: 1px solid rgb(var(--color-danger));
            &:hover, &:focus, &:focus-visible {
                outline: none;
                border: 1px solid rgb(var(--color-danger));
            }
        }
        .helper-text {
            color: rgb(var(--color-danger));
        }
    }

    /* Disabled has priority over invalid */
    &.disabled {
        pointer-events: none;
        color: #828282;
        label, .helper-text {
            color: #828282;
        }
        input {
            &:disabled {
                background: #F2F2F2;
                border: 1px solid #E0E0E0;
                &:hover, &:focus, &:focus-visible {
                    outline: none;
                    border: 1px solid #E0E0E0;
                }
            }
        }
    }

    
    /* Icons */
    .input-icon {
        top: 16px;
        position: absolute;
    }
    
    .material-icons {
        font-size: 24px;
        vertical-align: middle;
    }
    
    .start {
        left: 12px;
        & ~ input { padding-left: 48px; }
    }
    .end {
        right: 12px;
        & ~ input { padding-right: 48px; }
    }
}

