.input-wrapper {
    /* Default values */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    input {
        display: block;
        min-width: 200px;
        width: min-content;
        min-height: 56px;
        border-radius: 8px;
        padding: 16px 12px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: #828282;
        border: 1px solid #828282;
        margin-top: 4px;
        &:hover, &:focus, &:focus-visible {
            outline: none;
            border: 1px solid #333333;
        }
    }
    label {
        display: block;
        line-height: 17px;
        font-size: 12px;
    }

    /* Invalid state */
    &.invalid {
        color: rgb(var(--color-danger));
        input {
            border: 1px solid rgb(var(--color-danger));
            &:hover, &:focus, &:focus-visible {
                outline: none;
                border: 1px solid rgb(var(--color-danger));
            }
        }
    }

    /* Disabled has priority over invalid */
    &.disabled {
        pointer-events: none;
        label {
            color: #333333;
        }
        input {
            &:disabled {
                background: #F2F2F2;
                border: 1px solid #E0E0E0;
                &:hover, &:focus, &:focus-visible {
                    outline: none;
                    border: 1px solid #E0E0E0;
                }
            }
        }
    }

}

