@mixin button-theme($name, $color, $text, $outline, $hover, $disabled) {
    &.#{$name} {
        background-color: rgb(var($color));
        color: rgb(var($text));
        &.disabled {
            color: $disabled;
            background-color: rgba(var($color), 0.4);
            pointer-events: none;
        }
        &:hover, &:focus {
            background-color: rgb(var($hover));
        }
        &.outlined {
            background-color: transparent;
            border: 1px solid rgb(var($outline));
            color: rgb(var($outline));
            &:hover, &:focus {
                background-color: rgba(var($outline), 0.1);
            }
            &.disabled {
                color: rgba(var($outline), 0.4);
                border: 1px solid rgba(var($outline), 0.4);
            }
        }
        &.text {
            background-color: transparent;
            box-shadow: none;
            color: rgb(var($outline));
            &:hover, &:focus {
                background-color: rgba(var($outline), 0.1);
            }
            &.disabled {
                color: rgba(var($outline), 0.4);
            }
        }
    }
}

button {
    display: flex;
    align-items: center;
    /* Default/Layout values */
    font-family: inherit;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    border: none;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    font-weight: 500;
    cursor: pointer;

    /* Shadow */

    &.shadow {
        box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    }

    /* Sizes */
    &.sm { padding: 6px 14px; }
    &.md { padding: 8px 16px; }
    &.lg { padding: 11px 22px; }

    /* Variants */
    &.outlined {
        &.md { padding: 6px 14px; }
        &.sm { padding: 4px 12px; }
        &.lg { padding: 9px 20px; }
    }
    &.text {
        &.md { padding: 6px 14px; }
        &.sm { padding: 4px 12px; }
        &.lg { padding: 9px 20px; }
    }

    /* default is set as the default class for the component */
    @include button-theme("default", --color-default, --color-default-text, --color-default-text, --color-default-hover, #9E9E9E);
    @include button-theme("primary", --color-primary, --color-primary-text, --color-primary, --color-primary-hover, white);
    @include button-theme("secondary", --color-secondary, --color-secondary-text, --color-secondary, --color-secondary-hover, white);
    @include button-theme("danger", --color-danger, --color-danger-text, --color-danger, --color-danger-hover, white);

    /* Icons */
    .material-icons {
        font-size: 14px;
        vertical-align: middle;
    }
    .start { margin-right: 8px; }
    .end { margin-left: 8px; }
}