:root {
    --color-default:224, 224, 224;
    --color-primary:41, 98, 255;
    --color-secondary:69, 90, 100;
    --color-danger:211, 47, 47;
    --color-default-hover:174, 174, 174;
    --color-primary-hover:0, 57, 203;
    --color-secondary-hover:28, 49, 58;
    --color-danger-hover:154, 0, 7;
    --color-default-text:63, 63, 63;
    --color-primary-text:255, 255, 255;
    --color-secondary-text:255, 255, 255;
    --color-danger-text:255, 255, 255;
    --color-gray-3: 130, 130, 130;
}