:root {
    --color-default:#E0E0E0;
    --color-primary:#2962FF;
    --color-secondary:#455A64;
    --color-danger:#D32F2F;
    --color-default-hover:#AEAEAE;
    --color-primary-hover:#0039CB;
    --color-secondary-hover:#1C313A;
    --color-danger-hover:#9A0007;
    --color-default-text:#3F3F3F;
    --color-primary-text:white;
    --color-secondary-text:white;
    --color-danger-text:white;
}